NAME= Feito Por Camelo
AVATAR=https://images-ext-1.discordapp.net/external/IAhPBMEmK0aOPR4i2ssSkA0pf2-TzNuFj-UN2RStWH0/%3Fsize%3D2048/https/cdn.discordapp.com/icons/1145529601163018330/2a26dbe8f0fc77b5f545182c1aad9bde.png?format=webp&quality=lossless
TYPE=bot
MAIN=index.js
RAM=100
AUTORESTART=false
VERSION=latest
APT=tools